/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image: image-url("markitup/sets/markmin/h1.png");
}
.markItUp .markItUpButton2 a {
	background-image: image-url("markitup/sets/markmin/h2.png");
}
.markItUp .markItUpButton3 a {
	background-image: image-url("markitup/sets/markmin/h3.png");
}
.markItUp .markItUpButton4 a {
	background-image: image-url("markitup/sets/markmin/h4.png");
}
.markItUp .markItUpButton5 a {
	background-image: image-url("markitup/sets/markmin/h5.png");
}
.markItUp .markItUpButton6 a {
	background-image: image-url("markitup/sets/markmin/h6.png");
}

.markItUp .markItUpButton7 a {
	background-image: image-url("markitup/sets/markmin/bold.png");
}
.markItUp .markItUpButton8 a {
	background-image: image-url("markitup/sets/markmin/italic.png");
}

.markItUp .markItUpButton9 a {
	background-image: image-url("markitup/sets/markmin/list-bullet.png");
}
.markItUp .markItUpButton10 a {
	background-image: image-url("markitup/sets/markmin/list-numeric.png");
}

.markItUp .markItUpButton11 a {
	background-image: image-url("markitup/sets/markmin/picture.png");
}
.markItUp .markItUpButton12 a {
	background-image: image-url("markitup/sets/markmin/link.png");
}

.markItUp .markItUpButton13 a	{
	background-image: image-url("markitup/sets/markmin/quotes.png");
}
.markItUp .markItUpButton14 a	{
	background-image: image-url("markitup/sets/markmin/code.png");
}

.markItUp .preview a {
	background-image: image-url("markitup/sets/markmin/preview.png");
}
