/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image: image-url("markitup/sets/default/bold.png");
}
.markItUp .markItUpButton2 a {
	background-image: image-url("markitup/sets/default/italic.png");
}
.markItUp .markItUpButton3 a {
	background-image: image-url("markitup/sets/default/stroke.png");
}

.markItUp .markItUpButton4 a {
	background-image: image-url("markitup/sets/default/list-bullet.png");
}
.markItUp .markItUpButton5 a {
	background-image: image-url("markitup/sets/default/list-numeric.png");
}

.markItUp .markItUpButton6 a {
	background-image: image-url("markitup/sets/default/picture.png");
}
.markItUp .markItUpButton7 a {
	background-image: image-url("markitup/sets/default/link.png");
}

.markItUp .markItUpButton8 a {
	background-image: image-url("markitup/sets/default/clean.png");
}
.markItUp .preview a {
	background-image: image-url("markitup/sets/default/preview.png");
}
