/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image: image-url("markitup/sets/html/h1.png");
}
.markItUp .markItUpButton2 a {
	background-image: image-url("markitup/sets/html/h2.png");
}
.markItUp .markItUpButton3 a {
	background-image: image-url("markitup/sets/html/h3.png");
}
.markItUp .markItUpButton4 a {
	background-image: image-url("markitup/sets/html/h4.png");
}
.markItUp .markItUpButton5 a {
	background-image: image-url("markitup/sets/html/h5.png");
}
.markItUp .markItUpButton6 a {
	background-image: image-url("markitup/sets/html/h6.png");
}
.markItUp .markItUpButton7 a {
	background-image: image-url("markitup/sets/html/paragraph.png");
}

.markItUp .markItUpButton8 a {
	background-image: image-url("markitup/sets/html/bold.png");
}
.markItUp .markItUpButton9 a {
	background-image: image-url("markitup/sets/html/italic.png");
}
.markItUp .markItUpButton10 a {
	background-image: image-url("markitup/sets/html/stroke.png");
}

.markItUp .markItUpButton11 a {
	background-image: image-url("markitup/sets/html/list-bullet.png");
}
.markItUp .markItUpButton12 a {
	background-image: image-url("markitup/sets/html/list-numeric.png");
}
.markItUp .markItUpButton13 a {
	background-image: image-url("markitup/sets/html/list-item.png");
}

.markItUp .markItUpButton14 a {
	background-image: image-url("markitup/sets/html/picture.png");
}
.markItUp .markItUpButton15 a {
	background-image: image-url("markitup/sets/html/link.png");
}

.markItUp .clean a {
	background-image: image-url("markitup/sets/html/clean.png");
}
.markItUp .preview a {
	background-image: image-url("markitup/sets/html/preview.png");
}
