/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a	{
	background-image: image-url("markitup/sets/bbcode/bold.png");
}
.markItUp .markItUpButton2 a	{
	background-image: image-url("markitup/sets/bbcode/italic.png");
}
.markItUp .markItUpButton3 a	{
	background-image: image-url("markitup/sets/bbcode/underline.png");
}

.markItUp .markItUpButton4 a	{
	background-image: image-url("markitup/sets/bbcode/picture.png");
}
.markItUp .markItUpButton5 a	{
	background-image: image-url("markitup/sets/bbcode/link.png");
}

.markItUp .markItUpButton6 a	{
	background-image: image-url("markitup/sets/bbcode/fonts.png");
}
.markItUp .markItUpButton7 a	{
	background-image: image-url("markitup/sets/bbcode/list-bullet.png");
}
.markItUp .markItUpButton8 a	{
	background-image: image-url("markitup/sets/bbcode/list-numeric.png");
}
.markItUp .markItUpButton9 a	{
	background-image: image-url("markitup/sets/bbcode/list-item.png");
}

.markItUp .markItUpButton10 a	{
	background-image: image-url("markitup/sets/bbcode/quotes.png");
}
.markItUp .markItUpButton11 a	{
	background-image: image-url("markitup/sets/bbcode/code.png");
}

.markItUp .clean a {
	background-image: image-url("markitup/sets/bbcode/clean.png");
}
.markItUp .preview a {
	background-image: image-url("markitup/sets/bbcode/preview.png");
}
