/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image: image-url("markitup/sets/dotclear/h1.png");
}
.markItUp .markItUpButton2 a {
	background-image: image-url("markitup/sets/dotclear/h2.png");
}
.markItUp .markItUpButton3 a {
	background-image: image-url("markitup/sets/dotclear/h3.png");
}
.markItUp .markItUpButton4 a {
	background-image: image-url("markitup/sets/dotclear/h4.png");
}
.markItUp .markItUpButton5 a {
	background-image: image-url("markitup/sets/dotclear/h5.png");
}

.markItUp .markItUpButton6 a {
	background-image: image-url("markitup/sets/dotclear/bold.png");
}
.markItUp .markItUpButton7 a {
	background-image: image-url("markitup/sets/dotclear/italic.png");
}
.markItUp .markItUpButton8 a {
	background-image: image-url("markitup/sets/dotclear/stroke.png");
}

.markItUp .markItUpButton9 a {
	background-image: image-url("markitup/sets/dotclear/list-bullet.png");
}
.markItUp .markItUpButton10 a {
	background-image: image-url("markitup/sets/dotclear/list-numeric.png");
}

.markItUp .markItUpButton11 a {
	background-image: image-url("markitup/sets/dotclear/picture.png");
}
.markItUp .markItUpButton12 a {
	background-image: image-url("markitup/sets/dotclear/link.png");
}

.markItUp .markItUpButton13 a	{
	background-image: image-url("markitup/sets/dotclear/quotes.png");
}
.markItUp .markItUpButton14 a	{
	background-image: image-url("markitup/sets/dotclear/code.png");
}

.markItUp .preview a {
	background-image: image-url("markitup/sets/dotclear/preview.png");
}
