/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
//
// CSS Set by Kevin Papst - http://www.kevinpapst.de/
// ------------------------------------------------------------------*/
.markItUp .class a {
	background-image: image-url("markitup/sets/css/tag.png");
}
.markItUp .bold a {
	background-image: image-url("markitup/sets/css/bold.png");
}
.markItUp .italic a {
	background-image: image-url("markitup/sets/css/italic.png");
}
.markItUp .stroke a {
	background-image: image-url("markitup/sets/css/stroke.png");
}
.markItUp .lowercase a {
	background-image: image-url("markitup/sets/css/text_lowercase.png");
}
.markItUp .uppercase a {
	background-image: image-url("markitup/sets/css/text_uppercase.png");
}

.markItUp .alignments a {
	background-image: image-url("markitup/sets/css/text_align_left.png");
}
	.markItUp .alignments .left a {
		background-image: image-url("markitup/sets/css/text_align_left.png");
	}
	.markItUp .alignments .center a {
		background-image: image-url("markitup/sets/css/text_align_center.png");
	}
	.markItUp .alignments .right a {
		background-image: image-url("markitup/sets/css/text_align_center.png");
	}
	.markItUp .alignments .justify a {
		background-image: image-url("markitup/sets/css/text_align_justify.png");
	}

.markItUp .indent a {
	background-image: image-url("markitup/sets/css/text_indent.png");
}
.markItUp .letterspacing a {
	background-image: image-url("markitup/sets/css/text_letterspacing.png");
}
.markItUp .lineheight a {
	background-image: image-url("markitup/sets/css/text_linespacing.png");
}

.markItUp .padding a {
	background-image: image-url("markitup/sets/css/text_padding_left.png");
}
	.markItUp .padding .left a {
		background-image: image-url("markitup/sets/css/text_padding_left.png");
	}
	.markItUp .padding .top a {
		background-image: image-url("markitup/sets/css/text_padding_top.png");
	}
	.markItUp .padding .right a {
		background-image: image-url("markitup/sets/css/text_padding_right.png");
	}
	.markItUp .padding .bottom a {
		background-image: image-url("markitup/sets/css/text_padding_bottom.png");
	}
.markItUp .background a {
	background-image: image-url("markitup/sets/css/picture.png");
}
.markItUp .css a {
	background-image: image-url("markitup/sets/css/css.png");
}
