<!DOCTYPE html>
<html>
<head>
<title>markItUp! preview template</title>
<style type="text/css">
/* preview style examples */
body {
  background-color: #efefef;
  font: 70% Verdana, Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
  <%= yield %>
</body>
</html>
